<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Express</title>
</head>
<body>
<h1>Learn Express</h1>
<ul>
    <li><a href="/about">res.send</a></li>
    <li><a href="/hello">res.render</a></li>
    <li><a href="/json">res.json</a></li>
    <li><a href="/raise_error">raise error</a></li>
    <li><a href="/stolen">Stolen password</a></li>
    <li><a href="/login">login</a></li>
    <li>Demo CSFR
        <ul>
            <li><a href="/transfer_money">Transfer Money</a></li>
        </ul>
    </li>

</ul>
</body>
</html>